name: Jalankan Python Script

on:
  workflow_dispatch:      # Tombol manual (untuk test)
  schedule:
    - cron: '*/30 * * * *' # OTOMATIS JALAN TIAP 30 MENIT

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v3

      - name: Set up Python
        uses: actions/setup-python@v4
        with:
          python-version: '3.11' # Saya ubah ke 3.11 agar library Anda terbaca

      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip
          pip install -r requirements.txt

      - name: Run script
        run: python mesin_analisis.py
